.directory-list{
	h2{
		margin-top: 0;
		margin-bottom: 0;
	}
	iframe{
		width: 100%;
	}

	.more-social{
		min-height: 30px;
		margin: 0;
	}

	.more-social a.btn.twitter {
		background: #00ABF0;
		color: white;
		text-shadow: none;
	}

	.more-social a.btn.instagram {
		background: #457399;
		color: white;
		text-shadow: none;
	}
}