/* Division Topbar Overrides
========================================================================== */
.division-topbar .wrapper{
    @extend .container;
    padding-left: 0;
    padding-right:0;

    @media screen and (min-width: $break-small) {
        padding-left: 1em;
        padding-right: 1em
    }
}
.directory-toggle {
    @media screen and (min-width: $break-large) {
        width: 240px;
    }
}
.division-search {
    right: 265px;
}