/* Division Topbar Overrides
========================================================================== */
.division-topbar .wrapper{
    @extend .container;
}
.directory-toggle {
    @media screen and (min-width: $break-large) {
        width: 240px;
    }
}
.division-search {
    right: 280px;
    @media screen and (min-width: $break-large) {
        right: 299px;
    }
}