
.homeSlide {
	opacity: 0;
}
.loading {
	background: url('../images/ico_loading.gif') no-repeat center center;
}
.loaded .homeSlide, .no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}


.leadership-legacy-section {
	background-image: url(../images/tom-rocklin.jpg);
	background-size: cover;
	background-position: center top;
	height: 520px;
	position: relative;
}
.leadership-legacy-section .wrapper {
	position: absolute;
	top: 10%;
	left: 10%;

	@media (min-width: $break-small) {
		width: 400px;
	}
}
.leadership-legacy-section .link {
	background-color: #222;
	border-radius: 5px;
	box-shadow: 3px 3px 3px rgba(0,0,0,.5);
	padding: 10px 20px;
	color: #fff;
	display: block;
	margin: .25em 0;
	text-align: center;
	width: 320px;
}




