.nav {
  position: fixed;
  top: 50%;
  right: 1em;
  z-index: 1000;
  margin-top: -50px;
}
.nav li {
  margin-bottom: 1em;
}
.nav li a {
  display: block;
  text-indent: -999em;
  height: 15px;
  width: 15px;
  background: $yellow;
  border-radius: 50%;
}