/* Base styles
========================================================================== */
html {
	font-size: $base-font-size;
	line-height: 1.5;
}
body {
	background: #fff;
	color: #444;
	font-family: $body-font;
	margin: 0;
	padding: 0;
}
body {
	height: 100%;
}


/* Layout
========================================================================== */
.container {
	max-width: $break-xxlarge;
	margin-right: auto;
	margin-left: auto;
	padding-left: 1em;
	padding-right: 1em;
	@media screen and (min-width: $break-small) {
		padding-left: 2em;
		padding-right: 2em;
	}
	@media screen and (min-width: $break-large) {
		padding-left: 3em;
		padding-right: 3em;
	}
}

/* Layout
========================================================================== */

img {
	xwidth: 100%;
}
section {
	xz-index: 20;
	xposition: relative;
}
.menu-icon {
	display: block;
	width: 42px;
	height: 42px;
	background-image: url(../images/menu-icon.png);
	background-size: 42px 42px;
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 100;
}

/* Homepage Header
========================================================================== */
#collage {
	position: relative;
	height: 460px;
	width: 100%;
	max-width: inherit;
	overflow: hidden;
	@media (min-width: $break-small) {
		height: 560px;
	}
}
.collage-top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	xbackground-color: #fff;
	height: 80px;
	z-index: 100;
	xborder-bottom: 1px solid #fff;
}
.collage-desc {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 80%, #2a2a2a 100%);
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
}
.lt-ie9 .collage-desc {
	background: url(../images/collage-gradient.png) repeat-x left bottom;
}
.collage-desc .inner {
	@include vertical-align;
}
.lt-ie9 .collage-desc .inner {
	top: 25%;
}
.collage-desc .inner h1 {
/*  @include vertical-align;*/
	color: #fff;
	@include rem(58);
	margin: 0;
	margin-bottom: .3em;
	padding-bottom: .3em;
	position: relative;
	text-align: center;
	@media (min-width: $break-small) {
		@include rem(90);
	}
}
.collage-desc .inner h1:after {
	content: '';
	display: block;
	width: 60px;
	height: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -30px;
	background-color: $yellow;
}
.collage-desc .inner p {
	color: #fff;
	font-style: italic;
	@include rem(17);
	text-align: center;
	@media (min-width: $break-small) {
		@include rem(20);
	}
	@media (min-width: $break-large) {
		width: 80%;
		margin: 0 auto;
	}
}
.scrolldown {
	position: absolute;
	bottom: 2em;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	@include rem(14);
	color: #fff;
	z-index: 100;
}
.scrollarrow {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 7px 7px 0 7px;
	border-color: #ffffff transparent transparent transparent;
	position: absolute;
	bottom: 1em;
	left: 50%;
	margin-left: -7px;
}
#collage .photos {
	position: absolute;
	height: 25%;
	width: 3780px;
	background: transparent url(../images/collagepanel-1.jpg) repeat-x left top;
	background-size: contain;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-animation: collage 50s linear infinite;
	-moz-animation: collage 50s linear infinite;
	-ms-animation: collage 50s linear infinite;
	animation: collage 50s linear infinite;
}
#collage .photos2 {
	position: absolute;
	top: 25%;
	height: 25%;
	width: 3780px;
	background: transparent url(../images/collagepanel-2.jpg) repeat-x left top;
	background-size: contain;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-animation: collage 60s linear infinite;
	-moz-animation: collage 60s linear infinite;
	-ms-animation: collage 60s linear infinite;
	animation: collage 60s linear infinite;
}
#collage .photos3 {
	position: absolute;
	top: 50%;
	height: 25%;
	width: 3780px;
	background: transparent url(../images/collagepanel-3.jpg) repeat-x left top;
	background-size: contain;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-animation: collage 70s linear infinite;
	-moz-animation: collage 70s linear infinite;
	-ms-animation: collage 70s linear infinite;
	animation: collage 70s linear infinite;
}
#collage .photos4 {
	position: absolute;
	top: 75%;
	height: 25%;
	width: 3780px;
	background: transparent url(../images/collagepanel-4.jpg) repeat-x left top;
	background-size: contain;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-animation: collage 80s linear infinite;
	-moz-animation: collage 80s linear infinite;
	-ms-animation: collage 80s linear infinite;
	animation: collage 80s linear infinite;
}
@-webkit-keyframes collage{
	0% {
		-webkit-transform:translate3d(0, 0, 0);
		-moz-transform:translate3d(0, 0, 0);
		-ms-transform:translate3d(0, 0, 0);
		-o-transform:translate3d(0, 0, 0);
		transform:translate3d(0, 0, 0)
	}
	100% {
		-webkit-transform:translate3d(-1260px, 0, 0);
		-moz-transform:translate3d(-1260px, 0, 0);
		-ms-transform:translate3d(-1260px, 0, 0);
		-o-transform:translate3d(-1260px, 0, 0);
		transform:translate3d(-1260px, 0, 0)
	}
}
@-moz-keyframes collage{
	0% {
		-webkit-transform:translate3d(0, 0, 0);
		-moz-transform:translate3d(0, 0, 0);
		-ms-transform:translate3d(0, 0, 0);
		-o-transform:translate3d(0, 0, 0);
		transform:translate3d(0, 0, 0)
	}
	100% {
		-webkit-transform:translate3d(-1260px, 0, 0);
		-moz-transform:translate3d(-1260px, 0, 0);
		-ms-transform:translate3d(-1260px, 0, 0);
		-o-transform:translate3d(-1260px, 0, 0);
		transform:translate3d(-1260px, 0, 0)
	}
}
@-ms-keyframes collage{
	0% {
		-webkit-transform:translate3d(0, 0, 0);
		-moz-transform:translate3d(0, 0, 0);
		-ms-transform:translate3d(0, 0, 0);
		-o-transform:translate3d(0, 0, 0);
		transform:translate3d(0, 0, 0)
	}
	100% {-webkit-transform:translate3d(-1260px, 0, 0);
		-moz-transform:translate3d(-1260px, 0, 0);
		-ms-transform:translate3d(-1260px, 0, 0);
		-o-transform:translate3d(-1260px, 0, 0);
		transform:translate3d(-1260px, 0, 0)
	}
}
@keyframes collage{
	0% {
		-webkit-transform:translate3d(0, 0, 0);
		-moz-transform:translate3d(0, 0, 0);
		-ms-transform:translate3d(0, 0, 0);
		-o-transform:translate3d(0, 0, 0);
		transform:translate3d(0, 0, 0)
	}
	100% {
		-webkit-transform:translate3d(-1260px, 0, 0);
		-moz-transform:translate3d(-1260px, 0, 0);
		-ms-transform:translate3d(-1260px, 0, 0);
		-o-transform:translate3d(-1260px, 0, 0);
		transform:translate3d(-1260px, 0, 0)
	}
}

/* Sections
========================================================================== */
.feature-section-inner {
	padding: 100px 0;
	@media (min-width: $break-small) {
		padding: 200px 0;
	}
}
.section-title {
	color: #fff;
	@include rem(40);
	font-weight: 700;
	margin: 0 0 .4em;
	padding-bottom: .3em;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	@media screen and (min-width: $break-small) {
		@include rem(50);
	}
	@media screen and (min-width: $break-medium) {
		@include rem(65);
	}
	@media screen and (min-width: $break-large) {
		@include rem(95);
	}
}
.section-title:after {
	content: '';
	display: block;
	width: 60px;
	height: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -30px;
	background-color: $yellow;
}
.inverse .section-title:after {
	background-color: #fff;
}
.section-desc {
	color: #fff;
	font-weight: 400;
	@include rem(16);
	margin: 0 auto 2.5em;
	text-align: center;
	font-style: italic;
	@media (min-width: $break-small) {
		@include rem(18);
		width: 80%;
	}
	@media (min-width: $break-medium) {
		@include rem(22);
	}
}

/* Photos
========================================================================== */
.photo-text {
	& .section-title {
		color: #fff;
	}
	& .section-desc {
		color: #fff;
	}
}
.photo-text {
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	z-index: 1;
}
.photo-text .inner {
	@include vertical-align;
	max-width: 1140px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 1em;
	padding-right: 1em;
	@media (min-width: $break-small) {
		padding-left: 2em;
		padding-right: 2em;
	}
}
.photofeature {
	background-color: #000;
	position: relative;
	& img {
		display: block;
	}
}
.triangle {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 150px 0 0 1058px;
	border-color: transparent transparent transparent #fff;
	position: absolute;
	bottom: 0;
}
.tri-png-btm {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 150px;
}
.tri-png-top {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100px;
}
/*.fixed {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 1100px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	display: block;
	@media screen and (min-width: $break-xlarge) {
		background-size: cover;
	}
}*/
.fixed {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
	@media (max-width:1024px) {
		background-attachment: scroll;
		background-position: center center !important;
	}
}

.photo-profile {
	border: 10px solid #fff;
	width: auto;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 1;
	bottom: 0;
	left: 10%;
}


/* Section Modules
========================================================================== */
.section-module {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	& li {
		margin-bottom: 1em;
		overflow: hidden;
		position: relative;
	}
	& img {
		position: relative;
	}
	& .module-title {
		@include rem(28);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding: 20px;
		text-transform: uppercase;
		background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
		& h3 {
			border-bottom: 1px solid rgba(255,255,255,.5);
			color: #fff;
			font-weight: 400;
			margin: 0;
			padding-bottom: 20px;
			text-shadow: 1px 1px 1px rgba(0,0,0,.3);
		}
	}
	& .module-desc {
		color: #666;
		margin: 10px 0 0;
		@include rem(14);
		line-height: 1.8;
	}
}
.btm-name {
	@include rem(20);
	text-align: center;
}


/* MISSION STATEMENT
========================================================================== */
.mission-statement {
	@include rem(18);
	padding: 4em 0;
}
.mission-statement p {
	font-size: 24px;
	margin: 0;
	padding: 3em 0;
}
.mission-statement p:before, .mission-statement p:after {
	content: '';
	display: block;
	width: 50px;
	height: 4px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -25px;
	background-color: #000;
}
.mission-statement p:after {
	bottom: 0;
	top: auto;
}

/* UPCOMING EVENTS
========================================================================== */
.upcoming-events {
	padding: 4em 0;
	@media (min-width: $break-small) {
		padding: 6em 0;
	}
}
.upcoming-events .section-title {
	color: #333;
}
.event-title {
	@include rem(22);
	font-weight: 300;
	margin-top: 0;
}
.event-date {
	@include rem(13);
	margin-top: 0;
}
.inverse .event-date {
	color: #bbb;
}
.event-desc {
	@include rem(13);
}
.inverse .event-desc {
	color: #ddd;
}
.email-signup {
	max-width: 440px;
	margin: 50px auto 0;
}
.email-signup h5 {
	text-align: center;
}

/* JUSTIFY
========================================================================== */
.justify {
	font-size: 0.1px;
	/*
	overflow: hidden;*/
	text-align: justify;
}
.justify:after {
	content: '';
	display: inline-block;
	width: 100%;
}
.justify-item {
	font-size: 14px;
	vertical-align: top;
	width: 100%;
	text-align: left;
	display: inline-block;
	transition: width .3s ease-in-out;
}
.justify-3 .justify-item {
	 @media screen and (min-width: $break-small) {
	 width: 48%;
	}
	@media screen and (min-width: $break-medium) {
	 width: 31.5%;
	}
}
.justify-4 .justify-item {
	 @media screen and (min-width: $break-small) {
	 width: 48%;
	}
	@media screen and (min-width: $break-medium) {
	 width: 23%;
	}
}
.justify-2 .justify-item {
	 @media screen and (min-width: $break-small) {
	 width: 48%;
	}
	@media screen and (min-width: $break-medium) {
	 width: 48%;
	}
}
.justify .filler {
	height: 0 !important;
	margin: 0 !important;
}

/* GET INVOLVED
========================================================================== */
.get-involved {

}

/* STUDENT SUCCESS
========================================================================== */
.student-success {

}
.student-success .section-module li {
	margin-bottom: 3em;
}

/* LATEST NEWS
========================================================================== */
.latest-news {
	padding: 6em 0;
}
.latest-news .section-title {
	color: #333;
}
.news-title {
	@include rem(22);
	font-weight: 400;
	margin-top: 0;
}
.news-date {
	@include rem(13);
	margin-top: 0;
}
.inverse .news-date {
	color: #bbb;
}
.news-desc {
	@include rem(13);
}
.inverse .news-desc {
	color: #ddd;
}

/* Culture & Entertainment
========================================================================== */
.culture-entertainment {

}

/* RECREATION
========================================================================== */
.recreation {

}

/* CAMPUS GALLERY
========================================================================== */
.campus-gallery {
	background-color: #fff;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}
.masonry .item,
.masonry .grid-sizer {
	width:  20%;
}
.masonry .item img {
	width: 100%;
}
.gutter-sizer {
	width: 1%;
}
.masonry .item,
.masonry .grid-sizer {
	float: left;
	background: #fff;
	border: 2px solid #fff;
	overflow: hidden;
}

.item.w2 { width:  40%; }
.item.h2 { xheight: 400px; }
.item img {
	display: block;
}

/* LIVING ON CAMPUS
========================================================================== */


/* HEALTH AND SAFETY
========================================================================== */





/* New Grid
========================================================================== */
.callout {
	float: left;
	width: 231px;
}
.callout:nth-child(odd) {
	@media (min-width: $break-large) {
		margin-top: 30px;
	}
}
.callout-margin {
	margin: 0 5%;
	background: #ddd;
	@media (min-width: $break-small) {
		margin: 0 5%;
	}
}
.callout img {
	width: 100%;
}
/* prev/next arrow */
.feature-section-inner .slick-prev {
	@media (max-width: $break-small) {
		left: -5px;
	}
}
.feature-section-inner .slick-next {
	@media (max-width: $break-small) {
		right: -5px;
	}
}
/* Dots navigation */
.feature-section-inner .slick-dots li button:before {
	color: #fff;
	font-size: 15px;
	opacity: .5;
}
.feature-section-inner .slick-dots li.slick-active button:before {
	opacity: 1;
}
.feature-section-inner .slick-dots {
	@media (max-width: $break-large) {
		margin: 0;
	}
}
.callout a {
	border: 1px solid rgba(255,255,255,.5);
	display: block;
	position: relative;
	min-height: 400px;
	overflow: hidden;
}
.callout-content {
	background-color: #fff;
	padding: 15px 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	/*-webkit-transform: translateY(100%);*/
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
}
.callout h3 {
	font-size: 16px;
	line-height: 1.2;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 0;
	-webkit-backface-visibility: hidden;
	@media (min-width: $break-small) {
		font-size: 18px;
	}
	@media (min-width: $break-large) {
		font-size: 19px;
	}
}
.callout p {
	color: #555;
	font-size: 14px;
	line-height: 1.3;
	margin: 0;
	border: 0; clip: rect(0 0 0 0); max-height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;
	transition: max-height .8s ease-in-out;
}
.callout a:hover p {
	display: block;
	max-height: 150px;
	width: auto;
	position: relative;
	padding-top: 5px;
}
.callout a:hover .callout-content {
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.callout button {
	position: absolute;
padding: 4px 20px;
border: none;
text-transform: uppercase;
letter-spacing: 1px;
font-weight: bold;
-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
transition: opacity 0.3s, transform 0.3s;
-webkit-backface-visibility: hidden;
top: 35%;
left: 50%;
border: 3px solid #fff;
background: rgba(0, 0, 0, 0.3);
color: #fff;
opacity: 0;
-webkit-transform: translateY(-50%) translateX(-50%) scale(0.25);
transform: translateY(-50%) translateX(-50%) scale(0.25);
}
.lt-ie9 .callout button {
	background: #555;
	left: 33%;
}
.callout a:hover  button {
opacity: 1;
-webkit-transform: translateY(-50%) translateX(-50%) scale(1);
transform: translateY(-50%) translateX(-50%) scale(1);
}


/* Search Results and pagination
========================================================================== */

#SearchResults {
	list-style-type: none;
	margin: 0;

}


.go-to-page{
	margin: 0 1em;
}

/* LEADERSHIP LEGACY
========================================================================== */

.one{

	float: left;
}

.two{

	float: left;
	margin-left: 60px;
}

.three{

	float: left;
}

.four{

	float: left;
	margin-left: 60px;
}

.row{

}

.col-md-6{

}

.new-title{
	font-size: 80px;
	margin-left: 40px;
}

.blueheader{
	color:#0087d5;
}

.list{
	list-style-type: none;


}
.col-padding{

	padding: 5px;
}