/*-------------------------------------------
    Colors
-------------------------------------------*/
$link: #0088cc;
$link-hover: #0088cc;
$yellow: #ffce39;


/*-------------------------------------------
    Sizes
-------------------------------------------*/
$base-font: 16;
$base-font-size: 16px;


/*-------------------------------------------
    Fonts
-------------------------------------------*/
$heading-font: "proxima-nova-alt-condensed",sans-serif;
$body-font: "proxima-nova",sans-serif;


/*-------------------------------------------
    Media Queries
-------------------------------------------*/
$break-small: 481px;
$break-medium: 769px;
$break-large: 981px;
$break-xlarge: 1141px;
$break-xxlarge: 1281px;