@font-face {
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  src: local('Forum'), url(http://themes.googleusercontent.com/static/fonts/forum/v4/D9A_Hy5ZrFj88Aw3nPqWX6CWcynf_cDxXwCLxiixG1c.woff) format('woff');
}
