/* DEPARTMENT PAGE
=============================================== */
.WebsiteURL {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #ffcd00;
    padding: 10px;
}
/* Stats --------------------- */
.dept-stats {
    margin-bottom: rem-calc(25);
}
.stat-cards {
    // @include grid-row;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
.stat-card {
    background-color: $yellow;
    border-radius: 2px;
    padding: 8%;
    &__digit {
        font-size: rem-calc(72);
        font-family: $header-font-family;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 10px;
        letter-spacing: -2.5px;
    }
    &__text {
        margin: 0;
    }
}
