/* DEPARTMENT PAGE
=============================================== */

/* Stats --------------------- */
.dept-stats {
	background-color: $yellow;
	padding: rem-calc(20 0 60);
}
.stat-cards {
	@include grid-row;
	padding-right: 1.25rem;
   padding-left: 1.25rem;
   display: -webkit-box;
   display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
   flex-wrap: wrap;
	justify-content: space-between;
	&:before, &:after {
		content: none;
	}
}
.stat-card {
	background-color: #FFF;
	width: 100%;
	margin-bottom: 1em;
	border-radius: 1px;
   padding: rem-calc(25);
   box-shadow: 1px 1px 5px rgba(0,0,0,.08);
	&__digit {
		font-size: rem-calc(72);
		font-family: $header-font-family;
		font-weight: bold;
		margin-top: 0;
		margin-bottom: 10px;
		letter-spacing: -2.5px;
	}
	&__text {
		margin: 0;
	}
	@include breakpoint(medium) {
		width: 48%;
		min-height: 300px;
	}
	@include breakpoint(large) {
		width: 31%;
	}
}