/* News Holder
=============================================== */
.featured-news {
	margin-top: 1em;
	margin-bottom: 1em;
	@include breakpoint(medium) {
		margin-top: 3em;
		margin-bottom: 3em;
	}
}
.featured-news__large-column {
	@include grid-column(12);
	@include breakpoint(medium) {
		@include grid-column(8);
	}

	@include breakpoint(large) {
		@include grid-column(6);
		@include grid-column-position(3);
	}
}
.featured-news__medium-column {
	@include grid-column(12);
	@include breakpoint(medium) {
		@include grid-column(4);
	}
	@include breakpoint(large) {
		@include grid-column(3);
		@include grid-column-position(-6);
	}
}
.featured-news__small-column {
	@include grid-column(12);
	@include breakpoint(medium) {
		@include grid-column(12);
	}
	@include breakpoint(large) {
		@include grid-column(3);
	}
}
.featured-news__small-column {
	margin-top: 2em;
	@include breakpoint(large) {
		margin: 0;
	}
}

.featured-news__medium-column .news-card {
	@include breakpoint(mobile only) {
		float: left;
		width: 48%;
		&:last-child() {
			float: right;
		}
	}
}

.featured-image{
	display: block;
}
.featured-image-caption{
	font-size: rem-calc(14);
}

/* Trending --------------------- */
.trending {
	border: 1px solid #ddd;
	&__heading {
		border-top: 3px solid $yellow;
		position: relative;
		top: -1px;
		margin: 0;
		padding: 10px;
		font-size: 16px;
		letter-spacing: 3px;
		background-color: #000;
		color: $yellow;
		text-align: center;
		text-transform: uppercase;
	}
	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
		counter-reset: section;
		@include breakpoint(medium only) {
			display: flex;
			flex-wrap: wrap;
		}
	}
	&__card {
		border-bottom: 1px dashed #ddd;
		position: relative;
		padding: 1.5em 5% 1.5em 20%;
		&:before {
			counter-increment: section;
			content: counter(section);
			position: absolute;
			top: 50%;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			width: 20%;
			text-align: center;
			font-size: rem-calc(24);
			line-height: rem-calc(24);
			color: #000;
			left: 0;
			font-weight: bold;
		}
		&:last-child {
			border-bottom: none;
		}
		@include breakpoint(medium only) {
			border-left: 1px dashed #ddd;
			width: 50%;
			padding-left: 10%;
		}
	}
	&__title {
		font-size: 19px;
		margin: 0;
		& a {
			color: #333;
			&:hover, &:focus {
				text-decoration: underline;
			}
		}
	}
}


.news-card {
	border-bottom: 1px dashed #ddd;
	padding-bottom: 1.2em;
	margin-bottom: 1.2em;
	&--border {
		border: 1px solid #ddd;
		padding: rem-calc(20);
		box-shadow: 0 0 12px rgba(0,0,0,.05);
		& .news-card__thumb {
			margin-top: rem-calc(-20);
			margin-right: rem-calc(-20);
			margin-left: rem-calc(-20);
		}
	}
	&__title {
		margin-top: .75em;
		line-height: 1.1;
		&--small {
			font-size: 20px;
			line-height: 1.4;
		}
	}
	&__author {
		font-size: 13px;
		color: #585858;
		font-style: italic;
	}
	&__thumb {
		position: relative;
		& img {
			width: 100%;
		}
	}
	&__dept {
		display: block;
		font-size: 11px;
		text-transform: uppercase;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 95%;
		&--wthumb {
			position: absolute;
			bottom: 0;
			left: 50%;
			-webkit-transform: translate(-50%,0);
			-moz-transform: translate(-50%,0);
			-ms-transform: translate(-50%,0);
			-o-transform: translate(-50%,0);
			transform: translate(-50%,0);
			background: #fff;
			padding: 10px;
			line-height: 1;
			white-space: nowrap;
		}
	}
	& a {
		color: #333;
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
}


/* In The News ============================== */
.news-fullwidth {
	background-color: #222;
	margin-bottom: 3em;
	padding-top: 1em;
}
.line-header {
	border-bottom: 1px solid #444;
	text-align: center;
}
.line-header h2 {
	background: #222;
	color: $yellow;
	display: inline-block;
	font-size: 18px;
	letter-spacing: .15em;
	line-height: 26px;
	margin-bottom: 0;
	padding: 0 15px;
	position: relative;
	text-transform: uppercase;
	top: 13px;
}
.iowa-now {
	@include grid-column;

	&__list {
		list-style: none;
		margin: 3em 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		@include breakpoint(large) {
			justify-content: space-between;
		}
	}
	&__item {
		width: 50%;
		padding: rem-calc(12);
		border-right: 1px dashed #444;
		border-bottom: 1px dashed #444;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
			border-right: none;
		}
		@include breakpoint(medium) {
			width: 33.3333%;
		}
		@include breakpoint(900) {
			width: 19%;
			border-bottom: none;
		}
	}
	&__body {
		position: relative;
		padding-bottom: 24px;
		min-height: 130px;
	}
	&__title {
		font-size: 18px;
		& a {
			color: #eee;
			&:hover, &:focus {
				text-decoration: underline;
			}
		}
	}
	&__date {
		font-size: 12px;
		color: #ccc;
		position: absolute;
		left: 0;
		bottom: 0;
	}
}



/* Latest News Section ============================== */
.title-fullwidth {
	@include grid-column(12);
	& h2 {
		border-bottom: 1px solid #ddd;
	}
}
