/*-------------------------------------------
    Px to Em conversion
-------------------------------------------*/
$browser-context: 16;
@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em
}
/* usage: font-size: em(18) */

/*-------------------------------------------
    Px to Rem conversion
-------------------------------------------*/
@mixin rem($size){
  font-size: $size + px;
  font-size: ($size / $base-font) + rem;
}
/* usage
    p {
        @include font-size(13);
    }
*/

/*-------------------------------------------
    Vertical align
-------------------------------------------*/
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* usage
    p {
        @include vertical-align;
    }
*/
