.yir-section {
	padding: 6em 0;
	position: relative;
}
hr.large {
	background-color: rgba(255,255,255,.1);
	width: 100%;
	height: 6px;
	background: #eee;
	border: none;
	margin: 0;
	margin: 50px 0 30px;
}


/* Stats
========================================================= */
.yir-stats {

}
.stats {
	border-top: 15px solid $yellow;
	border-bottom: 15px solid $yellow;
	display: grid;
	margin: 0 auto;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-auto-rows: minmax(350px, auto);
	grid-auto-flow: dense;
	padding-left: 1px;
	@include breakpoint(1516) {
		grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
	}
	&__box {
		color: #111;
		padding: .8em;
		font-size: 150%;
		border: 1px solid #ccc;
		margin-top: -1px;
		margin-left: -1px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}
	&__box--span2 {
		@include breakpoint(medium) {
			grid-column: span 2;
		}
	}
	&__box--spanAll {
		grid-column: 1/-1;
	}
	&__label {
		font-family: $header-font-family;
		font-weight: bold;
		font-size: rem-calc(32);
		line-height: 1.1;
		color: #9f9f9f;
		display: block;
	}
	&__copy {
		color: #444;
		display: block;
		font-family: Georgia, Times, "Times New Roman", serif;
		font-size: rem-calc(21);
		font-style: italic;
	}
	&__num {
		font-family: $header-font-family;
		font-weight: bold;
		color: #111;
		font-size: rem-calc(90);
		display: block;
		line-height: 1.1;
	}
	&__num--shadow {
		color: $yellow;
		text-stroke: 4px white;
		-moz-text-stroke: 4px white;
		-webkit-text-stroke: 4px white;
    	text-shadow: 6px 7px 0px rgba(0,0,0,.15);
	}
	&__num--thin {
		font-weight: 200;
	}
	&__num--yellow {
		color: $yellow !important;
	}
	&__num .gray {
		color: #999;
	}
	&__num--md {
		font-size: rem-calc(62);
	}
	&__num--lg {
		font-size: rem-calc(55);
		@include breakpoint(medium) {
			font-size: rem-calc(110);
		}
	}
	&__num--stroke {
		text-stroke: 2px solid #333;
		text-fill-color: #fff;

		-moz-text-stroke: 2px #333;
		-webkit-text-stroke: 2px #333;

		-moz-text-fill-color: white;
		-webkit-text-fill-color: white;
	}
	&__num--xlg {
		font-size: rem-calc(65);
		@include breakpoint(medium) {
			font-size: rem-calc(150);
		}
	}
	&__num--floatleft {
		@include breakpoint(medium) {
			float: left;
			width: 38%;
		}
	}
	&__copy--alignleft {
		text-align:left;
	}
}
.stats__box--reverse {
	background-color: #111;
	color: #fff;
	& .stats__num, & .stats__label, & .stats__copy {
		color: #fff;
	}
}
.stats__box--dm {
	background: url(../images/dollar-sign-solid.png) bottom left;
}
.stats__box--house {
	background: url(../images/home-solid.png) bottom left;
}
.pie {
	background: url(../images/pie.jpg) no-repeat 8% center;
}


/* Card Flip */
.card-container {
	perspective: 800px;
	width: 100%;
	height: 100%;
}
.card {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.face {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.back {
	transform: rotateY(180deg);
	background-color: black;
	color: #fff;
}
.card.flipped {
	transform: rotateY(180deg);
}
.cardflip-btn {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 18px;
	height: 19px;
	background: url(../images/flip.gif) no-repeat top left;
	cursor: pointer;
	z-index: 100;
}






/* Articles
========================================================= */
.yir-stories {
	// background-color: #fff;
}
.yir-article-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.yir-article {
	border-top: 1px solid #eee;
	padding: 2.5em 0;
	overflow: hidden;
	width: 100%;

	&__img {
		display: block;
		& img {
			width: 100%;
		}
	}
	&__content {
		position: relative;
		background: #fff;
		margin: -15px 15px 0 0;
		padding: 10px 10px 10px 0;
	}
	&__heading {
		font-size: 20px;
		margin: 0;
		& a {
			color: $black;
		}
	}
	&__departments {
		font-size: 12px;
		color: #666;
		text-transform: uppercase;
		margin: 8px 0 0;
	}
	@include breakpoint(medium) {
		width: 48%;
		margin-right: 2%;
	}
	@include breakpoint(large) {
		width: 30%;
		margin-right: 3%;
	}
}
// .yir-article:nth-child(8n) {
// 	@include breakpoint(medium) {
// 		width: 63%;
// 	}
// }

.yir-article__quote {
	background-color: $yellow;
	color: $black;
	padding: 3em;
	font-size: 21px;
	& p {
		margin: 0;
		line-height: 1.9;
	}
}

#filters {
	display: flex;
	flex-wrap: wrap;
}
.filter {
	background: #eee;
	margin-right: 1em;
	padding: 10px 20px;
	border-radius: 5px;
	border: 1px solid #ddd;
	& input {
		margin-bottom: 0;
	}
}

.yir-video {
	background-color: #eee;
}


svg {
  width: 100%;
  position:absolute;
  top: 0;
  left: 0; // needed for FF, Safari, Edge
  height: 100%;
}
svg text {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 54px;
}
svg rect {
  fill: white;
}
svg > rect {
    -webkit-mask: url(#mask);
    mask: url(#mask);
}

